/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Make the image fully responsive */
header img {
    display: block;
    margin: 0 auto 30px auto;
    width: 500px; /* Adjust the width as needed */
    
}
.carousel-inner img{
    max-width: 100%;
    height: auto;
  }
  

  .carousel.slide {
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 80%;
    /* display: grid; */
    
    place-items: center;
    z-index: 2;
}

#slides1 {
    width: 100%;
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}

#slides2 {
    width: 100%;
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}

#slides3 {
    width: 100%;
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}

.background_3 {
    /* position: absolute; */
    /* top: 500px; /* Adjust as needed */
    left: 50%; 
    /* transform: translate(-50%, -50%); */
    width: 80%; /* Adjust as needed */
    max-width: 1000px; /* Set a maximum width */
    height: auto; /* Allow the height to adjust proportionally */
    /* display: grid; */
    place-items: center;
    z-index: 1;
}

.photography-slides, .graphic-design-slides, .typography-slides {
    display: none;
}

#home-grid {
    display:grid;
    grid-template-columns: 1fr 5fr 1fr;
    margin: 0 200px;
}

#trio{
    width: 100%;
    grid-row: 2/4;
    grid-column: 2/3;
    align-self: end;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
#trio img{
    width: 100%;
}
.bubble {
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/4;
}

.head {
    width: 100%;
    grid-row: 2/5;
    grid-column: 1/4;
}

/* .backgrounds {
    display: grid;
    
    grid-template-columns: 1fr 1fr; 
    justify-items: center;
    
} 

/* .backgrounds {
    display: grid;
    
    grid-template-columns: 1fr 1fr; 
    justify-items: center;
    
}

.back1 {
    width: 97%; 
    height: 100%; 
    min-height: 1500px;
   
    grid-column: 1 / 3; 
}

.back2 {
    width: 100%;
    height: 100%; 
    
    grid-column: 1/3; 
  }  */



body {
        /* position: relative; */
        background-color: rgb(255, 255, 255);
        font-family: "futura-pt", sans-serif, sans-serif, Helvetica, Arial, sans-serif;
        font-weight: 300;
        font-size: 1em;
        font-style: normal;
    
        /* background-image: url("../page1/1back_.png");
        background-position: top left;
        background-repeat: no-repeat;
        background-size: contain; */
        /* margin: 0;
        padding: 0; */
}

/* #demo {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
} */

header {
    text-align: center;
    background-color: #f7f3e4;
    padding: 30px 0;
    font-family: "futura-pt", sans-serif, sans-serif, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    font-style: normal;
    width: 100%;
    z-index: 3; 
}

.nav_link.link-a:hover {
    color: #f7f3e4; 
    background-color: #ed583f; 
    text-decoration: none; 
}

.nav_link.link-b:hover {
    color: #f7f3e4; 
    background-color: #7FBFA2; 
    text-decoration: none; 
}

.nav_link.link-c:hover {
    color: #f7f3e4;
    background-color: #F3A732; 
    text-decoration: none; 
}

.nav_link {
    margin-right:0px;
    text-decoration: none;
    color: #333;
    padding: 40px 40px; 
    transition: background-color 0.3s, color 0.3s; 
}


/* main {
    margin-bottom: 20px;
} */

.carousel-inner-2, .carousel-inner-3{
    display: none;
}

/* img {
    display: block;
    margin: 0 auto;
} */

footer {
    /* position: absolute; */
    /* top: 100vh; */
    text-align: center;
    /* height: 300px;
    width: 100%; */
    /* margin-top: 20px; */
    /* padding-top: 20px; */
    /* border-top: 1px solid #dfdbcd; */
    background-color: #f7f3e4;
    padding: 5px 0;
    padding-top: 20px;
    /* z-index: 4; */
    font-family: "futura-pt", sans-serif, sans-serif, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    font-style: normal;
}

.contact-link:hover{
    background-color: #ed583f;
    color: #f7f3e4; 
    padding: 8px 100px; 
    transition: background-color 0.3s, color 0.3s; 
    text-decoration: none;
}
.contact-link-2:hover{
    background-color: #7FBFA2; 
    color: #f7f3e4; 
    padding: 8px 110px; 
    transition: background-color 0.3s, color 0.3s; 
    text-decoration: none;
}

.contact-link {
    color: #ed583f; 
    
}
.contact-link-2{
    color: #7FBFA2;
  

}



.social {
    margin-top: 20px;
    padding-bottom: 20px;
}

.social a {
    display: inline-block;
    margin-right: 10px;
}

.social img {
    width: 30px;
    height: 30px;
}

footer .little-guy img {
    margin-top: 50px;
}




@media screen and (max-width: 1000px) {
    #home-grid {
        margin: 0 100px;
    }
} 
@media screen and (max-width: 800px) {
    #home-grid {
        margin: 0 50px;
    }
} 


/* ----------------------------- */
