/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Make the image fully responsive */


.carousel-inner img {
    max-width: 100%;
    height: auto;
  }
  
  .carousel.slide {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    /* display: grid; */
    place-items: center;
    z-index: 2;
}
#slides {
    /* position: absolute; */
    top: 300px; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%; /* Adjust as needed */
    max-width: 800px; /* Set a maximum width */
    height: auto; /* Allow the height to adjust proportionally */
    /* display: grid; */
    place-items: center;
    z-index: 2;
}

.background_3 {
    /* position: absolute; */
    top: 500px; /* Adjust as needed */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Adjust as needed */
    max-width: 800px; /* Set a maximum width */
    height: auto; /* Allow the height to adjust proportionally */
    /* display: grid; */
    place-items: center;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    #slides {
        width: 60%;
        top: 350px; 
    }
}

/* .backgrounds {
    display: grid;
    
    grid-template-columns: 1fr 1fr; 
    justify-items: center;
    
} 

/* .backgrounds {
    display: grid;
    
    grid-template-columns: 1fr 1fr; 
    justify-items: center;
    
}

.back1 {
    width: 97%; 
    height: 100%; 
    min-height: 1500px;
   
    grid-column: 1 / 3; 
}

.back2 {
    width: 100%;
    height: 100%; 
    
    grid-column: 1/3; 
  }  */



body {
        /* position: relative; */
        background-color: rgb(255, 255, 255);
        font-family: "futura-pt", sans-serif, sans-serif, Helvetica, Arial, sans-serif;
        font-weight: 300;
        font-size: 1em;
        font-style: normal;
    
        /* background-image: url("../page1/1back_.png");
        background-position: top left;
        background-repeat: no-repeat;
        background-size: contain; */
        /* margin: 0;
        padding: 0; */
}

#demo {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    background-color: #f7f3e4;
    padding: 30px;
    font-family: "futura-pt", sans-serif, sans-serif,Helvetica, Arial, sans-serif;
    font-weight: 370;
    font-size: 1.2em;
    font-style: normal;
    width: 100%;
    /* position: relative; */
    z-index: 3; /* Ensure the header sits above the background */
}

.nav_link.link-a:hover {
    color: #f7f3e4; /* Text color on hover for the first link */
    background-color: #ed583f; /* Background color on hover for the first link */
    text-decoration: none; /* Remove underline on hover for the first link */
}

.nav_link.link-b:hover {
    color: #f7f3e4; /* Text color on hover for the second link */
    background-color: #7FBFA2; /* Background color on hover for the second link */
    text-decoration: none; /* Remove underline on hover for the second link */
}

.nav_link.link-c:hover {
    color: #f7f3e4; /* Text color on hover for the third link */
    background-color: #F3A732; /* Background color on hover for the third link */
    text-decoration: none; /* Remove underline on hover for the third link */
}

.nav_link {
    margin-right:0px;
    text-decoration: none;
    color: #333;
    padding: 40px 40px; /* Adjust padding to create a larger clickable area */
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth color change */
}

main {
    margin-bottom: 20px;
}

.hidden{
    display: none
}

/* img {
    display: block;
    margin: 0 auto;
} */

footer {
    /* position: absolute; */
    top: 90vh;
    text-align: center;
    height: 200px;
    width: 100%;
    /* margin-top: 20px; */
    /* padding-top: 20px; */
    /* border-top: 1px solid #dfdbcd; */
    background-color: #f7f3e4;
    padding: 10px 0;
    /* z-index: 4; */
}

.social {
    margin-top: 20px;
}

.social a {
    display: inline-block;
    margin-right: 10px;
}

.social img {
    width: 30px;
    height: 30px;
}